apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ target_app_name }}-cm
  namespace: {{ target_namespace }}
data:
  {% for key, value in configmap.items() -%}
  {{ key }}: '{{ value }}'
  {% endfor -%}