apiVersion: batch/v1
kind: {{ 'CronJob' if job_interval else 'Job' }}
metadata:
  name: {{ target_app_name }}
  namespace: {{ target_namespace }}
spec:
{%- if job_interval %}     
  schedule: "{{ job_interval }}"
  concurrencyPolicy: {{ concurrency_policy }}
{%- endif %}  
  {{ 'jobTemplate' if job_interval else 'template' }}:
{%- if job_interval %}
    spec:
      template:
        spec:
          containers:
          - name: {{ target_app_name }}
            image: {{ target_image_registry }}/{{ target_image_name }}:{{ target_image_tag or target_stack }}
            imagePullPolicy: Always
{%- if job_command %}
            command: {{job_command | safe }}
{%- endif %}
{%- if sidecar_image %}
          - name: {{ sidecar_name }}
            image: {{ sidecar_image }}:{{ sidecar_tag }}
            imagePullPolicy: {{ sidecar_pull_policy }}
{%- if sidecar_command %}
            command: {{sidecar_command | safe }}
{%- endif %}
          ports:
          - containerPort: {{ sidecar_port }}
{%- endif %}
          restartPolicy: {{ restart_policy }}
      backoffLimit: {{ backoff_limit }}
{%- endif %}
{%- if not job_interval %}
    spec:
      containers:
      - name: {{ target_app_name }}
        image: {{ target_image_registry }}/{{ target_image_name }}:{{ target_image_tag or target_stack }}
        imagePullPolicy: Always
{%- if job_command %}
        command: {{job_command | safe }}
{%- endif %}
      restartPolicy: {{ restart_policy }}
  backoffLimit: {{ backoff_limit }}
{%- endif %}